<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
    <head lang="fr" th:insert="~{template :: head}">
        <title>Bibliothèque du Vert Galant</title>
    </head>

    <body>
        <header th:insert="~{template :: header}"></header>
        <div class="container" xmlns:th="http://www.w3.org/1999/xhtml">
            <h1>Application Mcommerce</h1>

            <div class="row">
                <div th:each="book : ${books}" class="col-md-4 my-1">
                    <a th:href="@{/book/{path}(path=${book.id})}">
                        <p th:text= "${book.title}"></p>
                    </a>
                </div>
            </div>
        </div>
        <footer th:insert="~{template :: footer}"></footer>
    </body>
</html>